body {
  background-image: url('../../image/timg5.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.main-content {
  width: 100%;
  display: flex;
}

/* 主体的左边部分 */
.main-content .content-left {
  flex: 4;
  position: relative;
}

/* 博客详情信息 */
.blog-detail,
.send-comment,
.left-comment {
  width: 84%;
  box-shadow: 6px 6px 8px #0e0e0e;
  margin: 20px auto 0;
}

.main-content .content-left .blog-detail .blog-title {
  padding: 20px 0;
  font-size: 30px;
}

.main-content .content-left .blog-detail .blog-mes {
  padding-bottom: 20px;
}

.main-content .content-left .blog-detail .blog-content {
  padding: 20px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  color: aliceblue;
}

.main-content .content-left .blog-detail .blog-content * {
  color: aliceblue;
}


/* 博客评论部分 */
.left-comment {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.left-comment .comment-num {
  padding: 5px 20px 10px;
  display: inline-block;
}

.left-comment .left-comment-item {
  width: 96%;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 6px 6px 8px #0e0e0e;
  padding: 6px;
}

.left-comment .left-comment-item .item-mes {
  font-size: 13px;
  color: #E171E9;
}

.left-comment .left-comment-item .item-text {
  margin-top: 10px;
  color: aliceblue;
}

/* 发表评论的区域 */
.send-comment {
  padding-bottom: 30px;
}

.send-comment>span {
  padding: 20px 0;
  font-size: 30px;
}

.send-comment .comment-form {
  margin-top: 20px;
}

.send-comment input {
  border: none;
  width: 280px;
  color: black;
  background: none;
  box-shadow: 10px 10px 8px #0e0e0e;
  padding: 10px 10px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 10px;
  outline: none;
  color: #ff6f6f;
  font-family: "caolei";
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: aliceblue;
  ;
  font-size: 16px;
  font-family: "caolei";
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: aliceblue;
  font-size: 16px;
  font-family: "caolei";
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: aliceblue;
  font-size: 16px;
  font-family: "caolei";
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: aliceblue;
  font-size: 16px;
  font-family: "caolei";
}

.send-comment .comment-text {
  margin-top: 20px;
  padding: 0 20px;
}

.send-comment .comment-text textarea {
  width: 596px;
  height: 100px;
  outline: none;
  border: none;
  background: none;
  resize: none;
  outline: none;
  box-shadow: 15px 15px 8px #0e0e0e;
  padding: 15px;
  color: #ff6f6f;
}

.v-code input {
  border-radius: 0;
  padding: 12px;
  margin-top: 20px;
}

.v-code .vcode {
  background-color: white;
  height: 48px;
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

.submit-mes {
  border: none;
  outline: none;
  background: none;
  padding: 10px;
  display: inline-block;
  box-shadow: 15px 15px 8px #0e0e0e;
  width: 100px;
  margin: 30px 0 0 20px;
  color: #ff6f6f;
  font-size: 18px;
  font-family: "caolei";
  text-align: center;
  cursor: pointer;
}

.submit-mes:hover {
  color: #e17100;
}

/* 主体右边部分 */
.main-content .content-right {
  flex: 2;
  padding: 20px 0 0 40px;
}

/* 随机标签云 */
.main-content .content-right .right-module {
  width: 300px;
  margin-bottom: 30px;
  box-shadow: 6px 6px 8px #0e0e0e;
  padding: 10px;
}

.main-content .content-right .right-module .title {
  padding-bottom: 10px;
}

.main-content .content-right .right-module .tags {
  display: flex;
  flex-wrap: wrap;
}

.main-content .content-right .rantags a {
  padding: 4px 6px;
  word-break: break-all;
}

/* 最近热门 */
.main-content .content-right .hot>ul li {
  margin-bottom: 10px;
}

.main-content .content-right .hot>ul li a {
  color: aliceblue;
}

.main-content .content-right .comment>ul li {
  box-shadow: 6px 6px 8px #0e0e0e;
}

.main-content .content-right .comment>ul li .module-name {
  display: flex;
  justify-content: space-between;
}

.main-content .content-right .comment>ul li .module-name span:nth-child(2) {
  color: aliceblue;
  font-size: 14px;
}

.main-content .content-right .comment>ul li .module-text {
  padding-bottom: 6px;
  color: aliceblue;
}

/* 友情链接 */
.main-content .content-right .friend .friend-span {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-content .content-right .friend .friend-span span {
  display: inline-block;
  width: 50%;
  margin-bottom: 8px;
}

.main-content .content-right .friend .friend-span span a {
  color: aliceblue;
}